@font-face {
  font-family:"outfit" ;
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face{
  font-family: "young";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
}
$outfit :"outfit";
$young : "young";

*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background: whitesmoke;
  border-radius: 20px;
 
  body{
    background: rgb(252, 187, 140);
    padding: 200px 350px;
  }
 
  section{
   
    padding: 60px;
    margin: 50px 0;
  }
}