@font-face {
  font-family:"outfit" ;
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face{
  font-family: "young";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
}
$outfit :"outfit";
$young : "young";

*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background: whitesmoke;
  border-radius: 20px;
 
  body{
    background: rgb(246, 211, 186);
    padding: 200px 580px;
    color: gray;
  }
  strong{
    color:black;
  }
  section{
   
    padding: 40px;
    margin: 20px 0;

    h2{
      margin: 10px 0;
      color: rgb(152, 3, 3);
      font-family: $young;
      font-weight: 400;
    }
    ul{
      padding-left: 15px;
      li{
        margin: 10px 0;
        line-height: 25px;
        font-family: $outfit;
      }
    }
  }
}