@font-face {
  font-family:"outfit" ;
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face{
  font-family: "young";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
}
$outfit :"outfit";
$young : "young";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: whitesmoke;
  border-radius: 20px;
 
  body{
    background: rgb(246, 211, 186);
    padding: 25% 30%;
    color: gray;
    @media screen and (max-width:480px) {
      padding: 0;
      
    }

  }
  strong{
    color:black;
    background: rgba(245, 245, 245, 0);
  }
  section{
   
    padding: 40px;
    margin: 20px 0;
    background: rgba(245, 245, 245, 0);
    &.preparation-time{
      h3{
        color:purple;
        font-family: $outfit;
        background: rgba(245, 245, 245, 0);
      }
      margin: 0 35px;
      @media screen and (max-width:480px) {
        margin: 0 10px;
      
      }
    }
    h2{
      margin: 10px 0;
      color: rgb(152, 3, 3);
      font-family: $young;
      font-weight: 400;
      background: rgba(245, 245, 245, 0);
    }
    ul{
      padding-left: 15px;
      background: rgba(245, 245, 245, 0);
      li{
        margin: 10px 0;
        line-height: 25px;
        font-family: $outfit;
        color:brown;
        font-weight: 600;
        background: rgba(245, 245, 245, 0);
          p{
            color: gray;
            display: inline;
            font-weight: 300;
            background: rgba(245, 245, 245, 0);
          }
    
      }
    }
    @media screen and (max-width:480px) {
      margin: 0 ;
      padding: 20px;
    }
  
  }
}